:8080 {
    root * ../frontend/dist
    encode zstd gzip
    file_server

    handle_path /api/* {
        reverse_proxy 127.0.0.1:9000
    }

    handle {
        try_files {path} /index.html
    }
}
